{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
  <div class="container">
  <h3>Informationen zum Projekt</h3>
  <p>
    Dies ist ein Projekt des Applied Medical Image & Data Analysis Lab der Abteilung für Neuroradiologie der Universitätsmedizin Mannheim.<br/>
    Auf Anfrage teilen wir gerne den Quellcode, dazu bitte <br/>
    
    Die Datenerhebung dient der Forschung und der Beratung von Entscheidungsträgern. In naher Zukunft können wir Ihnen hier genauere statistische Auswertungen anbieten.<br/><br/>
    Da die Finanzierung des Projekts noch nicht gesichert ist bitten wir um eine kleine Spende. Das Geld wird ausschließlich zur Finanzierung der Webseite verwendet. Alles darüber hinausgehende wird einem noch auszuwählendem Forschungsprojekt im Bereich der Coronavirus-Forschung gespendet.
    <br/>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="37C2KM9BLUG2Q" />
        <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Spenden mit dem PayPal-Button" />
        <img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1" />
        </form>
    <br/><br/>
    Weitere Infos:<br/>
    <a href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/nCoV_node.html">Robert Koch Institut</a><br/>
    <br/>
    <a href="/">Zurück zur Karte</a>
  </p>

</div>
{% endblock %}