{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
  <div class="container">
  <h3>Informationen zum Projekt</h3>
  <p>
    Dies ist ein Projekt des Applied Medical Image & Data Analysis Lab der Abteilung für Neuroradiologie der Universitätsmedizin Mannheim.<br/>
    Der Quellcode ist frei einsehbar auf <a href="https://github.com/vsaase/covid19selfreport">Github</a><br/>
    
    Aktuell gibt es einen großen Mangel an Daten aus der Bevölkerung zu symptomatischen Patienten, die noch nicht getestet wurden. Sie können hier einen Beitrag zur besseren Erforschung des Fortschreitens der Corona-Virus Pandemie leisten.
    Die Datenerhebung dient der Forschung und der Beratung von Entscheidungsträgern. In naher Zukunft können wir Ihnen hier genauere statistische Auswertungen anbieten.<br/><br/>
    Da die Finanzierung des Projekts noch nicht gesichert ist bitten wir um eine kleine Spende. Das Geld wird ausschließlich zur Finanzierung der Webseite verwendet. Alles darüber hinausgehende wird einem noch auszuwählendem Forschungsprojekt im Bereich der Coronavirus-Forschung gespendet.
    <br/>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="37C2KM9BLUG2Q" />
        <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Spenden mit dem PayPal-Button" />
        <img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1" />
        </form>
    <br/><br/>
    Weitere Infos:<br/>
    <a href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/nCoV_node.html">Robert Koch Institut</a><br/>
    <p>Die Daten stammen zum Teil von "Risklayer GmbH (www.risklayer.com) and Center for Disaster Management and Risk Reduction Technology (CEDIM) at Karlsruhe Institute of Technology (KIT) and the Risklayer-CEDIM SARS-CoV-2 Crowdsourcing Contributors". Hier gibt es ebenfalls eine <a href="https://docs.google.com/spreadsheets/d/1wg-s4_Lz2Stil6spQEYFdZaBEp8nWW26gVyfHqvcl8s/htmlview#gid=0">Crowdsourcing-Initiative</a></p>

    <br/>

    Sie finden eine Entscheidungshilfe für einen Arztbesuch oder einen Coronavirus-Test der Charité <a href="https://covapp.charite.de/">hier</a>.<br/>
    <a href="/">Zurück zur Karte</a>
  </p>

</div>
{% endblock %}