{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
  <div class="container">
  <h3>Hier können Sie Daten für den Landkreis {{name}} eintragen</h3>
<hr>
{{ wtf.quick_form(form) }}
<hr>
<table border="1">
    <thead>
        <tr>
            <th>Fälle</th>
            <th>Quelle</th>
            <th>Zeitpunkt</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{ record['ncases'] }}</td>
            <td><a href="{{ record['source'] }}">{{ record['source'] }}</a></td>
            <td>{{ record['timestamp'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Die Daten stammen zum Teil von "Risklayer GmbH (www.risklayer.com) and Center for Disaster Management and Risk Reduction Technology (CEDIM) at Karlsruhe Institute of Technology (KIT) and the Risklayer-CEDIM SARS-CoV-2 Crowdsourcing Contributors". Hier gibt es ebenfalls eine <a href="https://docs.google.com/spreadsheets/d/1wg-s4_Lz2Stil6spQEYFdZaBEp8nWW26gVyfHqvcl8s/htmlview#gid=0">Crowdsourcing-Initiative</a></p>
</div>
{% endblock %}