{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
  <div class="container">
  <h3>Hier können Sie Ihren persönlichen COVID-19 Fall eintragen.</h3>
  <p>Disclaimer: Bitte erlauben Sie die Ermittlung Ihres Ortes. Falls Sie die Frage danach eben abgelehnt habe laden Sie die Seite bitte neu und akzeptieren Sie die Übermittlung der Ortsinformation.
    Ihr Standort wird auf der Karte zufällig in einem 1km-Umkreis von dem echten Standort angegeben um ihre Privatsphäre zu schützen.
    Der genaue Standort wird nur Behörden oder zu Forschungszwecken unter Geheimhaltungsklausel weitergegeben.
    Geben Sie bitte Ihre gültige Email-Adresse an, dann können wir Ihnen gegebenenfalls ortsspezifische Infos und Updates, z.B. von lokalen
    Hilfsangeboten zukommen lassen. Dies dient auch einer Vermeidung von Missbrauch.
    Wir werden Ihre Email-Adresse nicht weitergeben, sondern nur wichtige Nachrichten Dritter an Sie weiterleiten.
    Sie erhalten keine Werbung von Dritten. 
    Sie können Ihre Daten jederzeit unter Angabe der Emailadresse und des gewählten Passworts wieder löschen.</p>
<hr>
{{ wtf.quick_form(form) }}
<hr>
<script>
  var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function success(pos) {
  var crd = pos.coords;

  console.log('Your current position is:');
  console.log(`Latitude : ${crd.latitude}`);
  console.log(`Longitude: ${crd.longitude}`);
  console.log(`More or less ${crd.accuracy} meters.`);
  console.log(crd)
  console.log(JSON.stringify({latitude: crd.latitude, longitude: crd.longitude, accuracy: crd.accuracy}))
  document.getElementById("geolocation").value = JSON.stringify({"latitude": crd.latitude, "longitude": crd.longitude, "accuracy": crd.accuracy})
}

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
  //alert(err.message);
  alert("Ihre Ortungsdienste sind für diese Webseite deaktiviert, bitte aktivieren Sie sie, sonst kann kein Bericht erstellt werden. Fehler: "+ err.message)
  document.getElementById("geolocation").value = "error"
  window.location.href = "/";
}

navigator.geolocation.getCurrentPosition(success, error, options);
</script>
</div>
{% endblock %}
