{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
  <div class="container">
  <h3>Willkommen bei Covid-19 Report.</h3>
  <p>
    Die aktuelle Coronavirus-Pandemie stellt uns alle vor große Herausforderungen und schränkt unser Leben in höchstem Maße ein.
    Hier können Sie einen Beitrag leisten um der Politik und Wissenschaft wertvolle Hinweise zu der Verhältnismäßigkeit der Einschränkungen,
    und vielleicht am wichtigsten, deren Erfolg bei der Senkung der Sterblichkeit an der Corona-Virus Erkrankung (Covid-19) zu ermitteln.
    Bitte tragen füllen Sie dieses Formular, egal ob Sie nun gesund sind, sich krank fühlen oder vielleicht bereits positiv auf das Coronavirus getestet
    wurden aus. <br/>
    Danach erwartet Sie eine auch für Sie hilfreiche Auswertung der lokalen Zahlen in Ihrem Landkreis, ihrer Stadt oder sogar Postleitzahlengebiet.
    Wir bitten Sie sogar darum das Formular mehrmals auszufüllen, jeweils unter Benutzung des gleichen Nutzernamens und Passworts. So können wir 
    auch zeitliche Verläufe der Symptome besser nachvollziehen. Wenn Sie Daten für eine andere Person eingeben nutzen Sie bitte einen anderen Nutzernamens
    damit wir verschiedene Fälle unterscheiden können.<br/><br/>
    Vielen Dank für Ihre Mithilfe.<br/>
    Herzlichen Dank <br/>
    Das Covid-19 Report Team
  </p>
  <br/>
  <p>Disclaimer: Dies ist ein Forschungsprojekt der Universitätsmedizin Mannheim. Aktuell gibt es einen großen Mangel an Daten aus der Bevölkerung zu symptomatischen Patienten,
    die noch nicht getestet wurden. Sie können hier einen Beitrag zur besseren Erforschung des Fortschreitens der Corona-Virus Pandemie leisten. 
    Sollten Sie die Standortfreigabe aktiviert haben wird ihr Standort auf der Karte zufällig in einem 1km-Umkreis von dem echten Standort angegeben um ihre Privatsphäre zu schützen.
    Sie können Ihre Daten jederzeit unter Angabe des Benutzernamens und des gewählten Passworts wieder löschen.</p>
<hr>
{{ wtf.quick_form(form) }}
<hr>
<script>
  var options = {
  enableHighAccuracy: true,
  timeout: 3000,
  maximumAge: 0
};

function success(pos) {
  var crd = pos.coords;

  console.log('Your current position is:');
  console.log(`Latitude : ${crd.latitude}`);
  console.log(`Longitude: ${crd.longitude}`);
  console.log(`More or less ${crd.accuracy} meters.`);
  console.log(crd)
  console.log(JSON.stringify({latitude: crd.latitude, longitude: crd.longitude, accuracy: crd.accuracy}))
  document.getElementById("geolocation").value = JSON.stringify({"latitude": crd.latitude, "longitude": crd.longitude, "accuracy": crd.accuracy})
}

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
  //alert(err.message);
  //alert("Ihre Ortungsdienste sind für diese Webseite deaktiviert, bitte aktivieren Sie sie, sonst kann kein Bericht erstellt werden.")
  //document.getElementById("geolocation").value = "error"
  //window.location.href = "/";
  document.getElementById("geolocation").value = JSON.stringify({"latitude": 0, "longitude": 0, "accuracy": 1})
}

navigator.geolocation.getCurrentPosition(success, error, options);
</script>
</div>
{% endblock %}
