{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
  <div class="container">
  <h3>Vielen Dank für Ihre Hilfe</h3>
  <p>
    Sie können Ihre Daten ändern indem Sie das Formular einfach erneut unter Verwendung des Benutzernamens {{mail}} und des gleichen Passworts abschicken.<br/>
    Zum Löschen der Daten benutzten sie bitte <a href="/delete">dieses Formular</a>.<br/><br/>
    Bei Fieber mit Atemnot und Kurzatmigkeit begeben Sie sich bitte sofort in ärztliche Behandlung.<br/>
    Sie finden eine Entscheidungshilfe für einen Arztbesuch oder einen Coronavirus-Test der Charité <a href="https://covapp.charite.de/">hier</a>.
    <a href="/">Zurück zur Karte</a>
  </p>

</div>
{% endblock %}